API_BASE_URL=http://localhost:8080/api
FRONT_BASE_URL=http://localhost:3000
PUBLIC_START_RATE=5
PUBLIC_PEAK_RATE=30
PUBLIC_END_RATE=5
PUBLIC_MIN_VUS=10
PUBLIC_MAX_VUS=150
FRONT_RATE=8
FRONT_DURATION=5m
ENABLE_UPLOADS=false
UPLOAD_RATE=2
UPLOAD_DURATION=5m
ENABLE_VOTES=false
CHECK_ASSETS=false
VIDEO_FILE=assets/intro.mp4
# JWT_TOKEN=coloca_un_token_valido_si_habilitas_uploads_o_votes
# ASSET_TIMEOUT=5s

